<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.app_planejou">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".PlannedTripsActivity">
        </activity>
        <activity android:name=".ViewPlannedPackageActivity">
        </activity>
        <activity android:name=".CalculateBudget">
        </activity>
        <activity android:name=".ViewHotel">
        </activity>
        <activity android:name=".ServicesIncludedActivity">
        </activity>
        <activity android:name=".FilterActivity">
        </activity>
        <activity android:name=".RedirectSmilesActivity">
        </activity>
        <activity android:name=".FilterServices">
        </activity>
        <activity android:name=".DetailedOffer">
        </activity>
        <activity android:name=".Planning">
        </activity>
        <activity android:name=".BuyYourTrip">
        </activity>
        <activity android:name=".MenuSos">
        </activity>
        <activity android:name=".Offer">
        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>